<% if @book.errors.any? %>
  <div class="alert alert-warning">
    <h1>error</h1>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>